/Assets/*.meta
/Assets/Materials
/Assets/PhysicsMaterials
/Assets/Scenes
/Assets/Prefabs
/Assets/Scripts/*.cs.meta
/Assets/Scripts/Animation
/Assets/Images
/Library
/Logs
/Packages
/ProjectSettings
/Temp